.app {
  text-align: center;
  margin: 5rem;

  section {
    border: 1px solid darkolivegreen;
    margin-bottom: 10rem;
    padding: 3rem 1rem;
  }
}

.contain-squares {
  width: 220px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.chosen-square {
  background-color: red;
}