//* This file is just for if you want to run the code and see it with some style that makes sense

.admin-settings--container {
    direction: rtl;

    .admin-settings--title {
        height: 8vh;
        line-height: 10vh;
        text-align: right;
        margin: 0 auto;
        width: 80vw;
        font-size: 3.5vh;
        color: grey;
        font-weight: bold;
        // font-family: "Heebo", "Open Sans Hebrew", sans-serif !important;
    }

    .admin-settings--white-box {

        // height: 64vh;
        .settings-content--container {
            width: 80vw;
            margin: auto;

            button {
                font-size: 1.3rem;
                border-radius: 6px;
                cursor: pointer;
                margin: 0 auto;
                margin-top: 1rem;
                padding: 5px 26px;
                background-color: lightgrey;
            }

            button:hover {
                transition: background-color 200ms ease-in-out;
                background-color: #cecdcd;
            }

            .setting--container {
                border: 1px solid #ffc06a;
                padding: 20px 50px;
                display: flex;
                flex-direction: column;
                margin-top: 10vh;

                .setting--title {
                    width: fit-content;
                    font-size: 1.8rem;
                    padding-inline: 10px;
                    border-bottom: 1px solid #ffc06a;
                    font-weight: bold;
                }


                .setting--action-button {
                    transition: background-color 200ms linear;
                    background-color: lightgrey;
                }

                .setting--action-button:active {
                    background-color: #f3f3f3c7;
                }

                .setting--action-button:hover {
                    transition: background-color 200ms ease-in-out;
                    background-color: #cecdcd;
                }

                .setting--text {
                    margin-top: 1rem;
                    text-align: right;
                    width: 65%;
                    font-size: 1.4rem;
                }
            }

            .setting--container:first-child {
                margin-top: 6vh;
            }

            .setting--container:last-child {
                margin-bottom: 6vh;
            }
        }
    }
}