.App {
  text-align: center;
  padding-top: 7vh;
}
input {
  background-color: green;
}

/* .sliderArrow{
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: white;
}

.arrowLeft{
  left: 0;
}

.arrowRight{
  right: 0;
} */

#containSquares{
  width: 220px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.square{
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.chosenSquare{
  background-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
